.landing {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  padding: 0 20px;
  box-sizing: border-box;

  .wrapper {
    transition: all 0.5s cubic-bezier(0.54, 0.21, 0.11, 1.03);
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    width: 100%;
    
    @media (max-width: 768px) {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    
    @media (max-width: 480px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    
    @media (max-width: 768px) {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    
    @media (max-width: 480px) {
      font-size: 0.8rem;
      margin-bottom: 16px;
    }
  }
}

.landingHidden {
  background-color: rgba(black, 0);
  pointer-events: none;

  .wrapper {
    transform: translateY(100px);
    opacity: 0;
  }
}
